
.main-project-hero{
    display: flex;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(13, 80, 9, 0.3);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
}

/* PROJECT HEROS */

.climate-bootcamp{
    background-image: url(../img/ClimateBootcamp/acb-1.jpg);
}

.community-engagement{
    background-image: url(../img/EAEP/EAEP-1.jpg);
}

.environmental-education{
    background-image:url(../img/WorldEarthDay2024/WED24-5.jpg);
}

.blog-hero{
    background-image:url(../img/hero/hero.jpg);
}

.events-hero{
    background-image:url(../img/hero/event-hero.jpg);
}

/* PROJECT HEROS ENDS */

.gecci-main-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
}
.projectContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.project-array-img{
    max-height: 300px;
}
.project-array-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}
.project-array-info{
    color: #000;
}
.project-array-info h5{
    margin: 0;
    font-size: medium;
}

@media (min-width: 768px) and (max-width: 991px) {
    .projectContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}
/* Small devices */
@media (max-width: 767px) {
    .projectContainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }
}